<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="NwindService.NorthWindService">
                <endpoint address="nwind" binding="basicHttpBinding"
                    bindingConfiguration="" contract="NwindService.INorthWindService" />
              <host>
                <baseAddresses>
                  <add baseAddress="http://192.168.60.125:8080/" />
                </baseAddresses>
              </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>